In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import sqlite3
import re
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
basics_ratings = pd.read_csv('../Data/movie_basics_rating.csv')
tmdb = pd.read_csv('../Data/tmdb_df.csv')
budget = pd.read_csv('../Data/movie_budget.csv')
info = pd.read_csv('../Data/movie_info.csv')
gross = pd.read_csv('../Data/bom_movie_gross.csv')

In [3]:
basics_ratings

,Unnamed: 0,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119
...,...,...,...,...,...,...,...,...,...
73851,73851,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,6.2,6
73852,73852,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,"Drama,Family",8.7,136
73853,73853,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8
73854,73854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,NaN,6.6,5
73855,73855,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary,6.5,11

In [4]:
tmdb

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
25492,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
25493,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
25494,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
25495,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
25496,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [5]:
budget

,Unnamed: 0,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,net_profit
0,0,1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09,2.351345e+09
1,1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,6.350639e+08
2,2,3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08,-2.002376e+08
3,3,4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,1.072414e+09
4,4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,9.997217e+08
...,...,...,...,...,...,...,...,...
5777,5777,78,"Dec 31, 2018",Red 11,7000.0,0.0,0.000000e+00,-7.000000e+03
5778,5778,79,"Apr 2, 1999",Following,6000.0,48482.0,2.404950e+05,2.344950e+05
5779,5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000.0,1338.0,1.338000e+03,-3.662000e+03
5780,5780,81,"Sep 29, 2015",A Plague So Pleasant,1400.0,0.0,0.000000e+00,-1.400000e+03
5781,5781,82,"Aug 5, 2005",My Date With Drew,1100.0,181041.0,1.810410e+05,1.799410e+05

In [6]:
info

,Unnamed: 0,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,runtime,studio
0,0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",104 minutes,NaN
1,1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",108 minutes,Entertainment One
2,2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",116 minutes,NaN
3,3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",128 minutes,NaN
4,4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,200 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1555,1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",106 minutes,New Line Cinema
1556,1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",88 minutes,Paramount Vantage
1557,1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",111 minutes,NaN
1558,1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",101 minutes,NaN
1559,1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",94 minutes,Columbia Pictures

In [7]:
gross

,Unnamed: 0,title,studio,domestic_gross,foreign_gross,year
0,0,Toy Story 3,BV,415000000.0,652000000.0,2010
1,1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010
2,2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010
3,3,Inception,WB,292600000.0,535700000.0,2010
4,4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010
...,...,...,...,...,...,...
3382,3382,The Quake,Magn.,6200.0,NaN,2018
3383,3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,3384,El Pacto,Sony,2500.0,NaN,2018
3385,3385,The Swan,Synergetic,2400.0,NaN,2018
3386,3386,An Actor Prepares,Grav.,1700.0,NaN,2018

- merge basics_ratings & tmdb on original_title = basics_ratings_tmdb
- merge budget & gross on movie & title, respectively = budget_gross
- basics_ratings_tmdb & budget_gross on ...??
- info = irrelevant?

In [8]:
#merging basics_ratings & tmdb
basics_ratings_tmdb = pd.merge(basics_ratings, tmdb, on='original_title', how='left')
basics_ratings_tmdb

,Unnamed: 0_x,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,Unnamed: 0_y,genre_ids,id,original_language,popularity,release_date,title,vote_average,vote_count
0,0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517,24185.0,"[35, 18]",299782.0,en,9.800,2018-11-02,The Other Side of the Wind,7.0,64.0
3,3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75280,73852,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,"Drama,Family",8.7,136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75281,73853,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8,5611.0,[18],72842.0,en,5.624,2012-01-02,Albatross,6.2,48.0
75282,73853,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8,23077.0,[99],532558.0,en,0.600,2017-01-01,Albatross,10.0,1.0
75283,73854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,NaN,6.6,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75284,73855,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary,6.5,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
basics_ratings_tmdb.genres.unique()

array(['Action,Crime,Drama', 'Biography,Drama', 'Drama', 'Comedy,Drama',
       'Comedy,Drama,Fantasy', 'Horror,Thriller',
       'Adventure,Animation,Comedy', 'History', 'Documentary',
       'Animation,Drama,History', 'Drama,Mystery',
       'Action,Animation,Comedy', 'Crime,Drama', nan,
       'Biography,Comedy,Drama', 'Action,Drama', 'Documentary,History',
       'Sci-Fi', 'Comedy', 'Thriller', 'Adventure,Animation,Sci-Fi',
       'Drama,Horror', 'Drama,Mystery,Thriller', 'Drama,Family',
       'Adventure,Comedy,Romance', 'Adventure,Drama,Romance',
       'Comedy,Crime,Drama', 'Biography', 'Horror',
       'Adventure,Comedy,Drama', 'Drama,Sci-Fi,Thriller', 'Action',
       'Comedy,Drama,Romance', 'Action,Adventure,Sci-Fi', 'Comedy,Family',
       'Adventure', 'Drama,History,War', 'Action,Thriller',
       'Comedy,Crime', 'Crime,Drama,Thriller', 'Action,Sci-Fi,Thriller',
       'Fantasy', 'Drama,Mystery,Sci-Fi', 'Biography,Drama,History',
       'Action,Comedy,Crime', 'Action,Adventure,Thriller',
       'Horror,Mystery,Thriller', 'Action,Drama,Family',
       'Comedy,Drama,Music', 'Drama,Fantasy,Horror',
       'Drama,Romance,Sci-Fi', 'Drama,Thriller', 'Drama,Romance',
       'Drama,Romance,War', 'Crime,Drama,Horror', 'Action,Comedy,Fantasy',
       'Action,Adventure,Comedy', 'Action,Adventure,Animation',
       'Action,Adventure,Fantasy', 'Comedy,Romance',
       'Biography,Drama,Sport', 'Comedy,Drama,Sci-Fi',
       'Adventure,Drama,Fantasy', 'Action,Crime,Thriller',
       'Crime,Thriller', 'Adventure,Comedy,Western',
       'Drama,Horror,Sci-Fi', 'Mystery,Thriller', 'Comedy,Horror',
       'Musical', 'Adventure,Drama,Mystery', 'Drama,Fantasy',
       'Fantasy,Horror,Thriller', 'Drama,Sport', 'Action,Adventure,Crime',
       'Biography,Documentary,History', 'Drama,Music,Romance',
       'Family,Sport', 'Adventure,Comedy', 'Action,Adventure,Drama',
       'Adventure,Drama,History', 'Drama,History,Romance',
       'Biography,Drama,Music', 'Adventure,Comedy,Family',
       'Horror,Mystery,Romance', 'Action,Adventure,Horror',
       'Animation,Family', 'Drama,Horror,Mystery',
       'Drama,Fantasy,Romance', 'Biography,Documentary,Music',
       'Animation,Family,Fantasy', 'Adventure,Comedy,Sci-Fi',
       'Family,Fantasy', 'Horror,Mystery', 'Drama,Fantasy,Thriller',
       'Documentary,Music', 'Comedy,Horror,Thriller',
       'Action,Drama,Horror', 'Animation,Drama', 'Biography,Comedy,Crime',
       'Drama,Mystery,War', 'Adventure,Comedy,Fantasy',
       'Biography,Drama,Romance', 'Documentary,Drama',
       'Biography,Crime,Drama', 'Action,Drama,Fantasy',
       'Comedy,Family,Fantasy', 'Adventure,Animation,Family',
       'Drama,Music', 'Adventure,Family,Fantasy', 'Drama,War',
       'Adventure,Drama,Sci-Fi', 'Comedy,Music,Romance',
       'Adventure,Family', 'Action,Horror,Thriller',
       'Action,Biography,Crime', 'Crime,Drama,Romance',
       'Animation,Comedy,Family', 'Comedy,Drama,War', 'Western',
       'Comedy,Sci-Fi', 'Drama,Fantasy,Mystery', 'Adventure,Crime,Drama',
       'Animation,Comedy,Crime', 'Sci-Fi,Thriller',
       'Horror,Sci-Fi,Thriller', 'Action,Drama,Sport',
       'Drama,Horror,Romance', 'Romance', 'Adventure,Horror,Thriller',
       'Comedy,Crime,Mystery', 'Action,Animation,Drama', 'Mystery',
       'Action,Crime,Horror', 'Adventure,Drama,Thriller',
       'Comedy,Musical,Romance', 'Action,Drama,Thriller',
       'Animation,Comedy,Fantasy', 'Horror,Mystery,Sci-Fi',
       'Adventure,Drama,Horror', 'Animation,Comedy,Sci-Fi',
       'Action,Horror,Sci-Fi', 'Adventure,Fantasy,Mystery',
       'Drama,Sci-Fi', 'Mystery,Romance', 'Action,Adventure,Family',
       'Comedy,Crime,Thriller', 'Action,Mystery,Thriller',
       'Action,Drama,Sci-Fi', 'Crime,Documentary', 'Crime,Drama,History',
       'Animation,Crime,Music', 'Action,Mystery,Sci-Fi',
       'Adventure,Drama,Family', 'Drama,Fantasy,History',
       'Drama,Musical,Romance', 'Biography,Drama,Thriller', 'Crime',
       'Animation', 'Comedy,Horror,Sci-Fi', 'Action,Biography,Drama',
       'Action,Comedy,Horror', 'Comedy,Fantasy', 'Action,Crime', 'Family',
       'Adventure,Fantasy', 'Biography,Drama,Family',
       'Adventure,Animation,Fantasy', 'Action,Adventure,History',
       'Comedy,Drama,Family', 'Comedy,Documentary,Sport',
       'Biography,Documentary', 'Documentary,History,War',
       'Horror,Romance,Thriller', 'Crime,Documentary,Drama',
       'Adventure,Drama', 'Documentary,Sport', 'Crime,Mystery,Thriller',
       'Action,Fantasy,History', 'Sport', 'Comedy,Drama,Sport',
       'Action,Comedy', 'Action,Fantasy,Western', 'Action,Comedy,Sci-Fi',
       'Adventure,Horror,Sci-Fi', 'Fantasy,Horror,Mystery', 'Music',
       'Comedy,Family,Thriller', 'Comedy,Thriller',
       'Action,Fantasy,Horror', 'Action,Comedy,Romance',
       'Action,Drama,Romance', 'Comedy,Drama,Mystery',
       'Action,Family,Fantasy', 'Action,History', 'Biography,Drama,War',
       'Documentary,War', 'Animation,Biography',
       'Documentary,Drama,Sci-Fi', 'Action,Crime,Sci-Fi',
       'Fantasy,Horror', 'Drama,History', 'Comedy,Horror,Musical',
       'Action,Animation,Fantasy', 'Action,Fantasy,Thriller',
       'Biography,Drama,Fantasy', 'Comedy,Fantasy,Horror',
       'Action,Crime,Mystery', 'Drama,Horror,Thriller',
       'Crime,Drama,Mystery', 'Crime,Horror,Thriller',
       'Drama,Romance,Thriller', 'Action,Comedy,Documentary',
       'Comedy,Documentary', 'Crime,Drama,Music', 'Biography,History',
       'Drama,Music,Musical', 'Action,Sci-Fi', 'Action,Adventure',
       'Action,Horror,Mystery', 'Documentary,Drama,History',
       'Drama,Musical', 'Adventure,Comedy,Crime', 'Action,Drama,Western',
       'Comedy,Musical', 'Crime,Sport,Thriller', 'Animation,Comedy,Drama',
       'Adventure,Biography,Comedy', 'Adventure,Animation,Drama',
       'Adventure,Animation', 'Family,Fantasy,Horror',
       'Crime,Drama,Fantasy', 'Adventure,Biography',
       'Action,Adventure,Western', 'Adventure,Biography,Drama',
       'Animation,Comedy,Romance', 'Mystery,Sci-Fi,Thriller',
       'Comedy,Drama,Horror', 'Documentary,Family,News',
       'Comedy,Family,Romance', 'Adventure,Documentary',
       'Adventure,Comedy,Music', 'Crime,Drama,War', 'Comedy,Western',
       'Drama,Musical,War', 'Comedy,Drama,Musical',
       'Animation,Crime,Drama', 'Drama,Mystery,Romance',
       'Action,Romance,Sci-Fi', 'Crime,Documentary,History',
       'Action,Drama,History', 'Horror,Sci-Fi',
       'Documentary,History,Sport', 'Action,Comedy,Drama',
       'Action,Fantasy,War', 'Comedy,Drama,History',
       'Action,Drama,Mystery', 'Comedy,Sport', 'Comedy,Mystery',
       'Drama,Thriller,Western', 'Action,Drama,War',
       'Adventure,Comedy,Horror', 'Action,Comedy,Family',
       'Comedy,Crime,Music', 'Comedy,Crime,Romance',
       'Adventure,Drama,Sport', 'Comedy,Fantasy,Romance',
       'Drama,Fantasy,Sci-Fi', 'Drama,Family,Fantasy', 'Sci-Fi,Western',
       'Comedy,Music', 'Adventure,Biography,Documentary',
       'Crime,Documentary,Music', 'Crime,Horror,Mystery',
       'Adventure,Romance', 'Horror,Sport,Thriller',
       'Comedy,Crime,History', 'Action,Adventure,Romance',
       'Biography,Documentary,Sport', 'Horror,Music,Sci-Fi',
       'Action,Drama,Music', 'Action,Adventure,Mystery',
       'Comedy,History,War', 'Action,Fantasy,Sci-Fi',
       'Adventure,Horror,Mystery', 'Animation,Horror',
       'Adventure,Mystery,Romance', 'Romance,Thriller',
       'Documentary,Family', 'Biography,Documentary,Drama',
       'Animation,Comedy', 'Adventure,Sci-Fi', 'Comedy,Drama,Western',
       'Comedy,Documentary,History', 'Action,Comedy,Thriller',
       'Drama,Fantasy,Music', 'Action,Thriller,War', 'Drama,Thriller,War',
       'Action,War', 'Biography,Comedy,History', 'Comedy,Family,Musical',
       'Drama,Romance,Sport', 'Adventure,Mystery', 'Drama,Western',
       'Animation,Sci-Fi', 'Romance,Sci-Fi,Thriller',
       'Action,Adventure,Biography', 'Comedy,Family,Sport',
       'Biography,Documentary,Fantasy', 'Comedy,Romance,Sci-Fi',
       'Adventure,Fantasy,Horror', 'Adventure,Drama,Western',
       'Comedy,Drama,Thriller', 'Comedy,Romance,Sport', 'History,Music',
       'Documentary,Drama,Sport', 'Documentary,Drama,Music',
       'Biography,Documentary,Romance', 'Documentary,History,Music',
       'Biography,Crime,Documentary', 'Adventure,Crime,Thriller',
       'Drama,Family,Sport', 'Drama,Family,Music', 'Documentary,News',
       'Action,Horror', 'Horror,Romance', 'Documentary,Drama,News',
       'Action,History,Thriller', 'Adventure,History',
       'Adventure,Mystery,Sci-Fi', 'Biography,Comedy,Documentary',
       'Drama,History,Thriller', 'Documentary,Drama,Family',
       'Family,Fantasy,Romance', 'Comedy,Documentary,Music',
       'Comedy,Fantasy,Music', 'Comedy,Family,Sci-Fi',
       'Adventure,Documentary,News', 'Crime,Mystery,Sci-Fi',
       'Comedy,Crime,Family', 'Family,Musical', 'Biography,Drama,Musical',
       'Music,Romance', 'Fantasy,Mystery,Romance',
       'Adventure,Crime,Documentary', 'Documentary,Family,Music',
       'Animation,Documentary,News', 'Adventure,Documentary,Family',
       'Biography,Documentary,Family', 'Adventure,Documentary,Music',
       'Mystery,Thriller,Western', 'Comedy,Crime,Horror',
       'Action,Animation,Horror', 'War', 'Adventure,Documentary,History',
       'Animation,Biography,Comedy', 'Adventure,Horror',
       'Adventure,Documentary,Drama', 'Comedy,Documentary,Drama',
       'Animation,Documentary,Music', 'Documentary,History,News',
       'Comedy,Sci-Fi,Thriller', 'Fantasy,Sci-Fi',
       'Action,Biography,Comedy', 'Action,Adventure,Documentary',
       'Comedy,Mystery,Romance', 'Biography,Comedy', 'Action,Animation',
       'Thriller,Western', 'Adventure,Documentary,Sport',
       'Documentary,Western', 'Action,Comedy,Western',
       'Drama,Fantasy,Musical', 'Action,Biography,Documentary',
       'Documentary,Horror', 'Drama,Family,Sci-Fi', 'Drama,Music,Sci-Fi',
       'Documentary,History,Sci-Fi', 'Documentary,Thriller',
       'Documentary,Romance', 'Comedy,Horror,Romance',
       'Adventure,Drama,Music', 'Animation,Comedy,Mystery',
       'Fantasy,Horror,Musical', 'Action,Sci-Fi,Western',
       'Documentary,Drama,Reality-TV', 'Action,Documentary,Sport',
       'Action,Fantasy', 'Fantasy,Thriller', 'Animation,Drama,Mystery',
       'Documentary,Music,Musical', 'Thriller,War', 'Documentary,Mystery',
       'Documentary,Reality-TV', 'Action,Documentary,History',
       'Animation,Biography,Documentary', 'Biography,Documentary,Mystery',
       'Crime,Drama,Sport', 'Drama,Music,Thriller',
       'Action,Documentary,Family', 'Action,Documentary,War',
       'Animation,Drama,Family', 'Documentary,Family,History',
       'Action,Crime,Fantasy', 'Horror,Musical', 'Action,Documentary',
       'Action,Crime,Romance', 'Documentary,Drama,Mystery',
       'Adventure,Horror,Western', 'Comedy,Crime,Documentary',
       'Musical,Romance', 'Animation,Documentary,Family',
       'Crime,Documentary,Mystery', 'Comedy,Documentary,News',
       'Drama,Family,Horror', 'Comedy,Romance,Thriller',
       'Comedy,Horror,Mystery', 'Fantasy,Sci-Fi,Thriller',
       'Adventure,Horror,Romance', 'Adventure,Comedy,Thriller',
       'Documentary,Drama,War', 'Biography,Romance,War',
       'Adventure,Comedy,Mystery', 'Comedy,Family,Music',
       'Drama,Family,Thriller', 'Drama,Family,History',
       'Action,Documentary,Drama', 'Fantasy,Horror,Sci-Fi',
       'Fantasy,Romance', 'Drama,News,War', 'Crime,Documentary,News',
       'Biography,Documentary,News', 'Animation,Biography,Drama',
       'Biography,Documentary,War', 'Fantasy,Music',
       'Action,Family,Sci-Fi', 'Drama,Family,Romance',
       'Animation,Drama,Romance', 'Fantasy,History,Romance',
       'Comedy,Mystery,Thriller', 'Action,Animation,Sci-Fi',
       'Adventure,Comedy,Documentary', 'Family,Mystery',
       'Action,Comedy,Sport', 'Action,Mystery', 'Action,Animation,Crime',
       'Crime,Drama,Family', 'Documentary,Musical',
       'Mystery,Romance,Thriller', 'Animation,Comedy,Musical',
       'Animation,Drama,Fantasy', 'Animation,Music',
       'Biography,Fantasy,Horror', 'Fantasy,Romance,Sci-Fi',
       'Adventure,Crime,Family', 'Animation,Documentary',
       'Drama,Horror,Music', 'Adventure,Family,Mystery', 'Comedy,History',
       'Action,Romance,Thriller', 'Family,Romance',
       'Adventure,Animation,Biography', 'Action,Fantasy,Mystery',
       'Fantasy,Mystery,Thriller', 'Comedy,Crime,Sport',
       'Action,Animation,Family', 'Animation,Musical', 'Action,Family',
       'Animation,Fantasy,Horror', 'Documentary,Sci-Fi',
       'Drama,Family,Musical', 'Adventure,Documentary,Mystery',
       'Animation,Family,Musical', 'Biography,Drama,Horror',
       'Drama,History,Musical', 'Drama,Music,War',
       'Animation,Mystery,Sci-Fi', 'Fantasy,Romance,Thriller',
       'Biography,Thriller', 'Crime,Mystery', 'Animation,Romance,Sci-Fi',
       'Animation,Documentary,Drama', 'Documentary,Drama,Romance',
       'Documentary,Music,Romance', 'Biography,Comedy,Music',
       'Adventure,Animation,Documentary', 'Action,History,Horror',
       'Documentary,Family,Sport', 'Animation,History,Musical',
       'Comedy,Documentary,War', 'Adventure,Biography,History',
       'Documentary,Music,War', 'Adventure,Fantasy,Sci-Fi',
       'Action,Sport', 'Animation,Horror,Sci-Fi', 'Drama,Musical,Sci-Fi',
       'Documentary,Family,Romance', 'Drama,Family,War',
       'History,Horror,Thriller', 'Comedy,Music,Sci-Fi',
       'Biography,Comedy,Family', 'Documentary,Family,Fantasy',
       'Drama,Romance,Western', 'Animation,Horror,Thriller',
       'Adventure,Fantasy,Musical', 'Comedy,Musical,War',
       'Animation,Thriller', 'Crime,Romance,Thriller', 'Action,Western',
       'Action,Thriller,Western', 'Comedy,Fantasy,Musical',
       'Comedy,Fantasy,Sci-Fi', 'Drama,Fantasy,Western',
       'Adventure,Mystery,Thriller', 'Documentary,Drama,Musical',
       'Adventure,Comedy,History', 'Documentary,News,War',
       'Documentary,Fantasy,Horror', 'Action,Comedy,Mystery',
       'Drama,Family,Mystery', 'Drama,History,Sport',
       'Animation,Crime,Documentary', 'Action,Romance',
       'Comedy,Thriller,Western', 'Biography,Documentary,Musical',
       'Action,Crime,Music', 'Fantasy,Mystery,Sci-Fi', 'Animation,Sport',
       'Biography,Comedy,Romance', 'Documentary,History,Mystery',
       'Action,Comedy,Musical', 'Animation,Drama,Thriller',
       'Family,Fantasy,Sci-Fi', 'Action,Adventure,War', 'Comedy,War',
       'Action,Musical', 'Adventure,Documentary,Western',
       'Crime,Drama,Western', 'Drama,Musical,Thriller',
       'Animation,Drama,Sci-Fi', 'Mystery,Sci-Fi', 'Animation,Fantasy',
       'Comedy,Mystery,Sci-Fi', 'Action,Drama,News',
       'Comedy,Documentary,Romance', 'Crime,Drama,Musical',
       'Fantasy,Mystery', 'Crime,History,Thriller',
       'Crime,Sci-Fi,Thriller', 'Comedy,Family,Western',
       'Crime,Horror,Musical', 'Documentary,Drama,Horror',
       'Action,Fantasy,Romance', 'Drama,History,Mystery',
       'Fantasy,Music,Romance', 'Comedy,Documentary,Family',
       'Animation,Comedy,Documentary', 'Action,Biography,History',
       'Crime,Horror', 'Animation,Music,Romance',
       'Animation,Documentary,War', 'Animation,Drama,War',
       'Biography,History,Thriller', 'Action,Horror,Western',
       'Action,Comedy,Music', 'Action,Family,Mystery',
       'Adventure,Family,Western', 'History,Thriller,War',
       'Documentary,History,Western', 'Adventure,History,Mystery',
       'Adventure,Animation,History', 'Comedy,Fantasy,Thriller',
       'Drama,Sport,Thriller', 'Action,Comedy,History',
       'Action,Romance,Sport', 'Adventure,Drama,War',
       'Documentary,Fantasy', 'Comedy,Horror,Sport',
       'Family,Musical,Sport', 'Music,Mystery', 'Crime,Drama,Sci-Fi',
       'Animation,History', 'Biography,Documentary,Sci-Fi',
       'Action,Musical,Romance', 'Drama,History,Sci-Fi',
       'Action,Romance,War', 'Animation,Family,Music',
       'Horror,Music,Mystery', 'Documentary,Horror,Thriller',
       'Adventure,Thriller', 'Adventure,Family,Musical',
       'Biography,Comedy,Sci-Fi', 'Romance,Sport', 'Action,Crime,Musical',
       'Documentary,Music,Sport', 'Adventure,Sport',
       'Action,Crime,Documentary', 'Musical,Sci-Fi',
       'Comedy,History,Mystery', 'Documentary,History,Horror',
       'Documentary,Music,Mystery', 'Music,Mystery,Thriller',
       'Fantasy,Musical,Sci-Fi', 'Animation,Sci-Fi,Thriller',
       'Fantasy,Musical', 'Action,Crime,Sport', 'Crime,Mystery,Romance',
       'Documentary,Fantasy,History', 'Crime,Fantasy,Mystery',
       'Adventure,Documentary,Reality-TV', 'Adventure,Romance,Sport',
       'Horror,Music,Thriller', 'Adventure,Family,Horror',
       'Comedy,Musical,Sci-Fi', 'Adventure,Biography,Crime',
       'Comedy,Music,Musical', 'Comedy,Horror,Music',
       'Animation,Biography,History', 'Family,Mystery,Thriller',
       'Drama,Game-Show,Thriller', 'Horror,War',
       'Adventure,Comedy,Musical', 'Documentary,Drama,Western', 'News',
       'Action,Music', 'Adventure,Family,Romance',
       'Animation,Fantasy,Mystery', 'Fantasy,Horror,Music',
       'Adventure,Sci-Fi,Thriller', 'Adventure,Documentary,Romance',
       'Animation,War', 'Drama,History,Horror', 'Drama,Sci-Fi,Western',
       'Biography,Crime,History', 'Animation,Horror,Music',
       'Family,Thriller', 'Comedy,Documentary,Thriller', 'History,Horror',
       'Crime,Documentary,Thriller', 'Adventure,Animation,Musical',
       'Music,Musical', 'Adventure,Drama,Musical',
       'Adventure,Family,Sci-Fi', 'Biography,Drama,News',
       'Action,Adventure,Music', 'Documentary,History,Romance',
       'Action,Crime,History', 'Family,Horror,Thriller',
       'Documentary,Fantasy,Sci-Fi', 'Romance,War', 'Crime,Sci-Fi',
       'Comedy,Family,Horror', 'Action,Sci-Fi,War',
       'Documentary,Music,News', 'Action,Family,Romance',
       'Biography,Documentary,Western', 'Animation,Drama,Horror',
       'Horror,Romance,Sci-Fi', 'Family,Sci-Fi,Thriller',
       'Action,History,Romance', 'Romance,Sci-Fi',
       'Animation,Drama,Musical', 'Crime,Romance',
       'Comedy,Documentary,Horror', 'Animation,Comedy,Music',
       'Family,Fantasy,Western', 'Animation,History,Horror',
       'Action,Horror,Sport', 'Musical,Romance,Thriller',
       'Documentary,Mystery,News', 'Horror,Thriller,War',
       'Crime,Music,Mystery', 'Drama,Horror,Western',
       'Drama,Mystery,Western', 'Drama,Music,Mystery',
       'Music,Musical,Romance', 'Crime,Family,Thriller', 'History,Sci-Fi',
       'Mystery,Romance,Sci-Fi', 'Biography,History,Romance',
       'Drama,History,News', 'Action,Sport,Thriller',
       'Adventure,Crime,Western', 'Action,Animation,History',
       'Documentary,News,Thriller', 'Drama,Sci-Fi,War',
       'Drama,Horror,Musical', 'Documentary,History,Thriller',
       'Documentary,Drama,Thriller', 'Action,Sport,War',
       'Family,Music,Romance', 'Animation,Family,History',
       'Crime,Western', 'Comedy,Documentary,Mystery', 'Biography,Music',
       'Horror,Music', 'Adventure,Fantasy,Thriller',
       'Crime,Fantasy,Horror', 'Family,Musical,Romance',
       'Comedy,Documentary,Western', 'Mystery,News,Thriller',
       'Comedy,Drama,News', 'Drama,History,Music',
       'Comedy,Family,Mystery', 'Crime,Musical', 'Action,Horror,Romance',
       'Comedy,News', 'Biography,History,Mystery',
       'Documentary,Family,Western', 'Animation,Family,Sport',
       'Action,Musical,Thriller', 'Biography,Drama,Mystery',
       'Animation,Biography,Family', 'Biography,Comedy,Fantasy',
       'Action,Family,Western', 'Horror,Thriller,Western',
       'Biography,Family,Fantasy', 'Adventure,Music', 'Drama,News',
       'Animation,Biography,Crime', 'Family,Fantasy,Musical',
       'Documentary,Musical,Mystery', 'Adventure,Documentary,Fantasy',
       'Drama,News,Thriller', 'Adventure,History,Romance',
       'Comedy,Fantasy,Mystery', 'Musical,Thriller',
       'Comedy,Documentary,Musical', 'Documentary,News,Romance',

In [10]:
basics_ratings_tmdb.drop(['Unnamed: 0_x'], axis=1)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,Unnamed: 0_y,genre_ids,id,original_language,popularity,release_date,title,vote_average,vote_count
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517,24185.0,"[35, 18]",299782.0,en,9.800,2018-11-02,The Other Side of the Wind,7.0,64.0
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75280,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,"Drama,Family",8.7,136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75281,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8,5611.0,[18],72842.0,en,5.624,2012-01-02,Albatross,6.2,48.0
75282,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8,23077.0,[99],532558.0,en,0.600,2017-01-01,Albatross,10.0,1.0
75283,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,NaN,6.6,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75284,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary,6.5,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
budget_gross = pd.merge(budget,
                       gross,
                       left_on='movie',
                       right_on='title',
                       how='left')
budget_gross

,Unnamed: 0_x,id,release_date,movie,production_budget,domestic_gross_x,worldwide_gross,net_profit,Unnamed: 0_y,title,studio,domestic_gross_y,foreign_gross,year
0,0,1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09,2.351345e+09,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,6.350639e+08,330.0,Pirates of the Caribbean: On Stranger Tides,BV,241100000.0,804600000.0,2011.0
2,2,3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08,-2.002376e+08,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,1.072414e+09,1875.0,Avengers: Age of Ultron,BV,459000000.0,946400000.0,2015.0
4,4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,9.997217e+08,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5777,5777,78,"Dec 31, 2018",Red 11,7000.0,0.0,0.000000e+00,-7.000000e+03,NaN,NaN,NaN,NaN,NaN,NaN
5778,5778,79,"Apr 2, 1999",Following,6000.0,48482.0,2.404950e+05,2.344950e+05,NaN,NaN,NaN,NaN,NaN,NaN
5779,5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000.0,1338.0,1.338000e+03,-3.662000e+03,NaN,NaN,NaN,NaN,NaN,NaN
5780,5780,81,"Sep 29, 2015",A Plague So Pleasant,1400.0,0.0,0.000000e+00,-1.400000e+03,NaN,NaN,NaN,NaN,NaN,NaN
5781,5781,82,"Aug 5, 2005",My Date With Drew,1100.0,181041.0,1.810410e+05,1.799410e+05,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df = pd.merge(basics_ratings_tmdb, 
                  budget_gross,
                  left_on='primary_title',
                  right_on='movie',
                  how='left')
df

,Unnamed: 0_x_x,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,Unnamed: 0_y_x,...,production_budget,domestic_gross_x,worldwide_gross,net_profit,Unnamed: 0_y_y,title_y,studio,domestic_gross_y,foreign_gross,year
0,0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517,24185.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75485,73852,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,"Drama,Family",8.7,136,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75486,73853,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8,5611.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75487,73853,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8,23077.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75488,73854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,NaN,6.6,5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75489,73855,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary,6.5,11,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.isna().sum()

Unnamed: 0_x_x           0
movie_id                 0
primary_title            0
original_title           0
start_year               0
runtime_minutes       7717
genres                 816
averagerating            0
numvotes                 0
Unnamed: 0_y_x       58390
genre_ids            58390
id_x                 58390
original_language    58390
popularity           58390
release_date_x       58390
title_x              58390
vote_average         58390
vote_count           58390
Unnamed: 0_x_y       72157
id_y                 72157
release_date_y       72157
movie                72157
production_budget    72157
domestic_gross_x     72157
worldwide_gross      72157
net_profit           72157
Unnamed: 0_y_y       73912
title_y              73912
studio               73912
domestic_gross_y     73913
foreign_gross        74154
year                 73912
dtype: int64

In [14]:
df=df.drop(['Unnamed: 0_x_x', 'Unnamed: 0_y_x', 'original_language'], axis=1)
df

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,genre_ids,id_x,...,production_budget,domestic_gross_x,worldwide_gross,net_profit,Unnamed: 0_y_y,title_y,studio,domestic_gross_y,foreign_gross,year
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517,"[35, 18]",299782.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75485,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,"Drama,Family",8.7,136,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75486,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8,[18],72842.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75487,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8,[99],532558.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75488,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,NaN,6.6,5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75489,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary,6.5,11,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_profit_genres=df.loc(axis=1)['primary_title', 'genres', 'net_profit']
df_profit_genres

                         primary_title                genres  net_profit
0                            Sunghursh    Action,Crime,Drama         NaN
1      One Day Before the Rainy Season       Biography,Drama         NaN
2           The Other Side of the Wind                 Drama         NaN
3                      Sabse Bada Sukh          Comedy,Drama         NaN
4             The Wandering Soap Opera  Comedy,Drama,Fantasy         NaN
...                                ...                   ...         ...
75485                Sokagin Çocuklari          Drama,Family         NaN
75486                        Albatross           Documentary         NaN
75487                        Albatross           Documentary         NaN
75488       La vida sense la Sara Amat                   NaN         NaN
75489                       Drømmeland           Documentary         NaN

[75490 rows x 3 columns]

In [16]:
df_profit_genres.isna().sum()

primary_title        0
genres             816
net_profit       72157
dtype: int64

In [17]:
df_profit_genres=df_profit_genres.dropna()
df_profit_genres

                         primary_title                   genres    net_profit
16                          Foodfight!  Action,Animation,Comedy -4.492629e+07
41                         On the Road  Adventure,Drama,Romance -1.568670e+07
47     The Secret Life of Walter Mitty   Adventure,Comedy,Drama  9.686118e+07
51         A Walk Among the Tombstones       Action,Crime,Drama  3.410859e+07
52                      Jurassic World  Action,Adventure,Sci-Fi  1.433855e+09
...                                ...                      ...           ...
75407                          Sisters             Action,Drama  7.603066e+07
75422                              Ali                    Drama -2.131603e+07
75464                         Columbus                   Comedy  4.105110e+05
75477                      Unstoppable              Documentary  7.072092e+07
75478                      Unstoppable              Documentary  7.072092e+07

[3323 rows x 3 columns]

In [18]:
df_profit_genres.duplicated()

16       False
41       False
47       False
51       False
52       False
         ...
75407    False
75422     True
75464     True
75477     True
75478     True
Length: 3323, dtype: bool

In [19]:
df_profit_genres.drop_duplicates()
# relevant columns to analyse genres & profits

,primary_title,genres,net_profit
16,Foodfight!,"Action,Animation,Comedy",-4.492629e+07
41,On the Road,"Adventure,Drama,Romance",-1.568670e+07
47,The Secret Life of Walter Mitty,"Adventure,Comedy,Drama",9.686118e+07
51,A Walk Among the Tombstones,"Action,Crime,Drama",3.410859e+07
52,Jurassic World,"Action,Adventure,Sci-Fi",1.433855e+09
...,...,...,...
75162,Bait,Drama,-1.952803e+07
75213,Walter,Comedy,-7.000000e+05
75222,Alive,"Adventure,Biography,Drama",4.299670e+06
75281,Earth,Documentary,6.977332e+07
75407,Sisters,"Action,Drama",7.603066e+07

In [20]:
type(df_profit_genres['genres'])

pandas.core.series.Series

In [23]:
df_profit_genres.sort_values('net_profit', ascending=False).head(10)

                        primary_title                   genres    net_profit
10268                          Avatar                   Horror  2.351345e+09
26406                         Titanic                Adventure  2.008208e+09
44572          Avengers: Infinity War  Action,Adventure,Sci-Fi  1.748134e+09
52                     Jurassic World  Action,Adventure,Sci-Fi  1.433855e+09
30033                       Furious 7    Action,Crime,Thriller  1.328723e+09
341                      The Avengers  Action,Adventure,Sci-Fi  1.292936e+09
11582                   Black Panther  Action,Adventure,Sci-Fi  1.148258e+09
11581                   Black Panther  Action,Adventure,Sci-Fi  1.148258e+09
50685  Jurassic World: Fallen Kingdom  Action,Adventure,Sci-Fi  1.135773e+09
2116                           Frozen    Adventure,Drama,Sport  1.122470e+09